<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>

<!-- wrap(S) -->
<div style="padding:0;margin:0;font-size:12px;font-family:Verdana,'돋움',Dotum,simsun,Arial, Geneva, Helvetica, sans-serif,'Apple-Gothic','애플고딕','Droid Sans'; line-height:14px">
<!-- pre태그. 들여쓰기 금지(S) -->
<pre style="white-space:pre-wrap;font-size:inherit;font-family:inherit">
Dear <@dear_ctnt>,  
<br>
C/A for <@bl_no> had been <@corr_sts_cd> by <@by_ofc_cd>. <@aply_ctnt>
<br>
 - BL No. : <@bl_no>
 <br>
 - Trunk VVD : <@t_vvd>
 <br>
 - Approval OFC : <@apro_ofc_cd>
<br>
<@corr_rjct_rsn><@cng_dtl> 
<br>
Thank you.
<br>
** This is an automated message. Please do not reply to this email. **
</pre>
<!-- pre태그. 들여쓰기 금지(E) -->
</div>
<!-- wrap(E) -->


</body>
</html>