<div>
<br/><b><@companyCd> Co. O.B/L Surrender Notice [B/L No : <@blNo>]</b>
<br/>
<br/><br/>Dear Customer,
<br/><br/>Please be advised that Original Bill(s) of Lading was(were) surrendered to our office for prompt cargo release at destination without presentation of O.B/L.
<br/><br/>For details, please refer to the attachment.
<br/>
<br/><br/>Thank you for choosing us
<br/><br/><@companyCd> Co., Ltd
<br/><br/>For more detailed information on your shipments, Go to <a href="<@companyUrl>" target="_blank"><@companyUrl></a>
<br/><br/>
</div>
