<div>
<br/><b><@companyNm> TRO Notice [B/L No : <@blNo>]</b>
<br/>
<br/><br/>Dear Customer,
<br/><br/>Please be informed that Transportation Order for below booking is requested as attached.
<br/>
<br/><br/>-B/L No : <@blNo>
<br/>
<br/><br/>If you find any discrepancy on attached TRO notice,  please advise us of what needs to be amended. 
<br/>
<br/><br/><@companyNm>
<br/><br/>For more detailed information on your shipments, please go to <a href="<@ecomUrl>" target="_blank"><@ecomUrl></a>
<br/><br/>
</div>
