<title><@companyCd> Group B/L is Ready for Proof - BL #: <@scacCd><@bkgNo> - REF #: <@refNo> (POR: <@por> / DEL: <@pod>) </title>
<body>
<div>
<br>The following <@companyCd> Bill of Lading is now in Awaiting Proofing status and is available for your review:
<br>
<br>
<table>
<tr><td>Laden on Board Date &nbsp;</td><td> : <@onBoardDate> </td></tr>
<tr><td>Shipper Name              </td><td> : <@shprName>    </td></tr>
<tr><td>Booking #                 </td><td> : <@bkgNo>   </td></tr>
<tr><td>Vessel Voyage             </td><td> : <@vvd>     </td></tr>
<tr><td>B/L #                     </td><td> : <@scacCd><@blNo>    </td></tr>
<tr><td>Reference #               </td><td> : <@refNo>    </td></tr>
<tr><td>Place of Receipt          </td><td> : <@por>     </td></tr>
<tr><td>Place of Delivery         </td><td> : <@pod>     </td></tr>
</table>
<br>
<br>To "view", "confirm"  or "change "this Bill of Lading online, please visit:
<br><a href="<@sysHost>/ecom/CUP_HOM_3211.do?sessLocale=en&returnParam=bkgNo:<@bkgNo>;searchType:K"><@sysHost>/ecom/CUP_HOM_3211.do?sessLocale=en&returnParam=bkgNo:<@bkgNo>;searchType:K"</a>
<br>
<br>To view a list of all your Internet Shipping Instruction and/or Draft Bill of Lading, please visit:
<br><a href="<@sysHost>/ecom/CUP_HOM_3211.do?sessLocale=en&returnParam=searchType:R"><@sysHost>/ecom/CUP_HOM_3211.do?sessLocale=en&returnParam=searchType:R</a>
<br>If you have any questions, or would like to request changes to this B/L, please contact your local <@companyCd> Group Office for assistance.
<br>
<br>To access <@companyCd> on-line, please go to <a href="<@ecomUrl>"><@ecomUrl></a>
<br>Please contact your local <@companyCd> office if you need any assistance
<br>
<br>Thank you for shipping with <@companyNm>.
<br>
<br>*** NOTE - Please do not respond to this email.***
<br>
</div>
</body>