<html>
<head><title></title></head>
<body>

VVD: <@ vvd ><br><br>

BL Number: <@ blNo ><br><br>

Load Port: <@ pol ><br><br>

EU First Port of Call: <@ fstPort ><br><br>

Discharge Port: <@ pod ><br><br>

Container(s) on Advisory: <@ container ><br><br>

Reason(s) For Advisory: <@ reason ><br><br>


Disclaimer: A Hold message has been issued by EU Customs; Cargo should not be released or transhipped after discharging unless agreed by Customs. Destination should check Hold with customs at port of discharge.

</body>
</html>