<title><@companyCd> Group B/L is Ready for Print - BL #: <@scacCd><@bkgNo> - REF #: <@refNo> (POR: <@por> / DEL: <@pod>) </title>
<body>
<div>
<br>The following <@companyCd> Bill of Lading is now in 'Ready for Print' status and is available for your review:
<br>
<br>
<table>
<tr><td>Laden on Board Date &nbsp;</td><td> : <@onBoardDate> </td></tr>
<tr><td>Shipper Name              </td><td> : <@shprName>    </td></tr>
<tr><td>Booking #                 </td><td> : <@bkgNo>   </td></tr>
<tr><td>Vessel Voyage             </td><td> : <@vvd>     </td></tr>
<tr><td>B/L #                     </td><td> : <@scacCd><@blNo>    </td></tr>
<tr><td>Reference #               </td><td> : <@refNo>    </td></tr>
<tr><td>Place of Receipt          </td><td> : <@por>     </td></tr>
<tr><td>Place of Delivery         </td><td> : <@pod>     </td></tr>
</table>
<br>
<br>To view this Bill of Lading online, please visit:
<br><a href="<@sysHost>/ecom/CUP_HOM_3229.do?sessLocale=en&returnParam=blNo:<@bkgNo>;searchType:divBlNo"><@sysHost>/ecom/CUP_HOM_3229.do?sessLocale=en&returnParam=blNo:<@bkgNo>;searchType:divBlNo</a>
<br>
<br>To access <@companyCd> on-line, please go to <a href="<@ecomUrl>"><@ecomUrl></a>
<br>Please contact your local <@companyCd> office if you need any assistance
<br>
<br>Thank you for shipping with <@companyNm>.
<br>
<br>*** NOTE - Please do not respond to this email.***
</div>
</body>