<div>
	<div style="height: 40px">Please note below EDI 824 results from the billing sent to the Rail for the subject booking and container.</div>
	<div>
		<table style="border: 1px solid #1C6EA4; width: 100%; border-collapse: collapse;">
			<col width="15%">
			<col width="15%">
			<col width="20%">
			<col width="15%">
			<col width="15%">
			<col width="20%">
			<thead>
				<tr style="text-align: center; background: #ccffcc;">
					<th style="border: 1px solid #AAAAAA; padding: 3px 2px;">Container No.</th>
					<th style="border: 1px solid #AAAAAA; padding: 3px 2px;">Booking No.</th>
					<th style="border: 1px solid #AAAAAA; padding: 3px 2px;">Rail Road</th>
					<th style="border: 1px solid #AAAAAA; padding: 3px 2px;">824 Waybill</th>
					<th style="border: 1px solid #AAAAAA; padding: 3px 2px;">824 Received Date</th>
					<th style="border: 1px solid #AAAAAA; padding: 3px 2px;">Rejection Reason</th>
				</tr>
			</thead>
			<tbody>
				<tr style="text-align: center">
					<td style="border: 1px solid #AAAAAA; padding: 3px 2px;"><@ cntr_no ></td>
					<td style="border: 1px solid #AAAAAA; padding: 3px 2px;"><@ bkg_no ></td>
					<td style="border: 1px solid #AAAAAA; padding: 3px 2px;"><@ vndr_nm ></td>
					<td style="border: 1px solid #AAAAAA; padding: 3px 2px;"><@ waybill ></td>
					<td style="border: 1px solid #AAAAAA; padding: 3px 2px;"><@ rcv_dt ></td>
					<td style="border: 1px solid #AAAAAA; padding: 3px 2px;"><@ reason ></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>