<html>
<head></head>
<body>
	Off Hire Request <@ send_dt >
	<br>
	<br> Please refer to the off hire container request list below and
	kindly provide your approval.
	<br> Please also assist to fill up the acceptable Off Hire Yard
	and Due Date information in the columns below.
	<br>
	<br>
	<br> If there are further questions, please do not hesitate to
	contact us.
	<br>
	<br>
	<table style='font-family: arial; font-size: 10pt;' border=1>
		<tr bgcolor='#ccffcc' align='center'>
			<td>Seq.</td>
			<td>Container No.</td>
			<td>Off-Hire Yard</td>
			<td>Off-Hire Due Date</td>
			<td>Approved Reference No.</td>
		</tr>
		<@ cntr_list >
	</table>	
</body>
</html>
