<html>
<head><title></title></head>
<body>

<table border="0">
    <tr>
        <td>From</td>
        <td>: [US] Customs</td>
    </tr>
    <tr height="10">
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>VVD</td>
        <td>: <@ vvd ></td>
    </tr>
    <tr>
        <td>B/L No.</td>
        <td>: <@ blNo ></td>
    </tr>
    <tr>
        <td>Hold Code</td>
        <td>: <@ hldCd >  (<@ hldDesc >)</td>
    </tr>
    <tr>
        <td>Hold Date</td>
        <td>: <@ hldDt ></td>
    </tr>
    <tr>
        <td>Customs Location</td>
        <td>: <@ locCd ></td>
    </tr>
</table><br><br>
P.S : This Auto-Notification Is only sent to MI Transmitter. <br>
If you are not PIC, YOU Must forward this mail to PIC in order to handle it properly
</body>
</html>
