<div>
<!-- <br/>Date : <@content_0>
<br/>To : <@content_1>
<br/>From : <@content_2>
<br/>
<br/>Status of COD : <@content_3>
<br/>COD Remark(s) : <@content_4>

<br/>
<br/>Please kindly check this COD Application and offer Rehandling CNTR Q'ty each
<br/>CNTR Type & Size if acceptable.
<br/> -->
<br/><b><@codSts></b>
<br/>
<br/>
<br/>
<br/>1. Ref No : <@bkgNo>
<br/>2. Vessel : <@vslEngNm>
<br/>3. Voyage number : <@obCssmVoyNm>
<br/>4. Container number & TPSZ & weight
<br/>
<br/>
<table width=600 border=2 style='border-collapse: collapse; background-color: white; color: #272727;'>
<tr style='background-color: #E8EFF9; color: #313131; text-align : center; font-weight:bold;'>
<td>Container Number</td><td>TPSZ</td><td>Weight</td></tr>
<@cntrList>
</table>
<br/>
<br/>5. Port of loading on VVD : <@oldPol>
<br/>6. Old Port of discharging on VVD : <@oldPod>
<br/>7. New Port of discharging on VVD : <@newPod>
<br/>
<br/>
<br/>
<br/><b>&lt; COD Remarks &gt;</b>
<br/><@codRemark>
</div>
