 <html>
 <head><title>MCS Letter Information.</title></head>
 <body>
 <table border="0" width="100%" id="table1" height="133">
    <tr>
        <td><pre><@ message ></pre></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
        <table border="0" width="100%"  >
            <tr>
                <td align="left"><@ usr_nm ></td>
            </tr>
            <tr>
                <td align="left"><@ jb_eng_nm ></td>
            </tr>
            <tr>
                <td align="left">TEL)<@ xtn_phn_no></td>
            </tr>
            <tr>
                <td align="left">FAX)<@ fax_no></td>
            </tr>
            <tr>
                <td align="left">EMAIL)<@ usr_eml></td>
            </tr>
        </table>
        </td>
    </tr>
</table>
 </body>
 </html>