/*탭 전체 영역*/
.cIBTabMainDiv {
	width: 800px;
	height: 300px;
}
/*탭 바 영역
* Width, Height 설정 불가. (cIBTabMainDiv 설정에 따라 자동 설정됨)
*/
.cIBTabBarDiv{
	overflow: hidden;
}
.cIBTabMainDiv .cIBTabBarDiv DIV {
	position:relative;
	float:left;
}
/*탭 타이틀*/
.cIBTabMainDiv .cIBTabBarDiv span {
	font-family:arial;
	font-size:11px;
	line-height:19px;
	float:left;
	color: yellow;
	text-align: center;
}
.cIBTabBarDiv .tabInactive {
	/*비활성 탭*/
}
.cIBTabBarDiv .tabActive {
	/*활성 탭*/
}
.cIBTabBarDiv .tabDisabled {
	/*사용하지 않는 탭*/
}
.cIBTabBarDiv .inactiveTabOver {
	/*비활성 마우스오버 탭*/
}
.cIBTabBarDiv .tabInactive span {
	/*비활성 탭 타이틀*/
	color: #000000;
}
.cIBTabBarDiv .tabActive span {
	/*활성 탭 타이틀*/
	color: #000000;
}
.cIBTabBarDiv .tabDisabled span {
	/*사용하지 않는 탭 타이틀*/
	color: #A2A2A2;
}
.cIBTabBarDiv .inactiveTabOver span {
	/*비활성 마우스오버 탭 타이틀*/
	color: #0000FF;
}
/*탭 이미지*/
.cIBTabMainDiv .cIBTabBarDiv img {
	float:left;
}
/* 사용자 정의 영역 */
.cIBTabBarDiv .divUserDefine {
	background-color: #CCE5FF;
	overflow: hidden;
}

/*컨텐츠 영역
* Width, Height 설정 불가. (cIBTabMainDiv 설정에 따라 자동 설정됨)
*/
.cIBTabMainDiv .divContentsArea {
	background-color: #F2F2F2;
	overflow: hidden;
	width: 300px;
}

/* MDI 모드 : 탭 Move, Resize Start */
.cIBTabMainDiv .divIBTabItem {
	position: absolute;
}
.cIBTabMainDiv .tabContent {
	/*Child Window 컨텐츠 영역*/
	position: absolute;
	background-color: #FFFFFF;
}
.cIBTabMainDiv .divIBTabTitle_act {
	/*활성창 타이틀*/
	background-color: #4F93BF;
	border: 1px solid #4B97FF;
	cursor: move;
	text-align: left;
	overflow: hidden;
}
.cIBTabMainDiv .divIBTabTitle {
	/*비활성창 타이틀*/
	background-color: #DFEDFF;
	border: 1px solid #4B97FF;
	cursor: move;
	text-align: left;
	overflow: hidden;
}
.divIBTabTitle_act .titleTxt {
	/*활성 창 타이틀 폰트*/
	padding-left: 5px;
	text-align: left;
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
}
.divIBTabTitle .titleTxt {
	/*비활성 창 타이틀 폰트*/
	padding-left: 5px;
	text-align: left;
	font-size: 9pt;
	color: #000000;
}
.cIBTabMainDiv .titleIcon {
	/*창 타이틀 아이콘*/
	width: 12px;
	height: 12px;
	text-align: left;
	padding-left: 5px;
	vertical-align: middle;
}
.cIBTabMainDiv .divBtnArea {
	/*최대, 최소,닫기 버튼 영역*/
	position: absolute;
	top:2px;
	right: 0;
	height: 20px;
	text-align: right;
	vertical-align: bottom;
}
.divBtnArea .btn_min {
	/*최소화 버튼*/
	padding-right: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.divBtnArea .btn_max {
	/*최대화 버튼*/
	padding-right: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.divBtnArea .btn_close {
	/*닫기 버튼*/
	padding-right: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.divBtnArea .btn_win {
	/*윈도우창 버튼*/
	padding-right: 2px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.cIBTabMainDiv .HandleL {
	/*왼쪽 핸들*/
	position: absolute;
	background-color: #4B97FF; 
	cursor:w-resize;
}
.cIBTabMainDiv .HandleR {
	/*오른쪽 핸들*/
	position: absolute;
	background-color: #4B97FF; 
	cursor:w-resize;
}
.cIBTabMainDiv .HandleB {
	/*하단 핸들*/
	position: absolute;
	bottom: 0;
	background-color: #4B97FF;
	cursor:s-resize;
	font-size: 0;
}
.cIBTabMainDiv .HandleLB {
	/*왼쪽 코너 핸들*/
	position: absolute;
	background-color: #FFFF00;
	cursor:sw-resize;
	font-size: 0;
}

.cIBTabMainDiv .HandleRB {
	/*오른쪽 코너 핸들*/
	position: absolute;
	background-color: #FFFF00;
	cursor:nw-resize;
	font-size: 0;
}
.cIBTabCover {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    /* ie 5,6,7 bug fix */
    zoom:1;
    filter: alpha(opacity=0);
    opacity: 0;
}
/* 탭 Move, Resize End */

/* 탭 닫기 버튼 이미지 정보 */
.IBTAB7_TabCloseImg {
	height: 8px;
	width: 8px;
	top:5px;
	margin-left:2px;
}
.IBTAB7_tooltop {
	position: absolute;
    z-index: 1000;
    visibility: hidden;
    border: 1px solid #bbaaaa;
    background: #ffffdd;
    font-family: Dotum;
    font-size: 12px;
    padding: 3px;
}

/* 테마별 탭 아이템 이미지 정보 */
.IBTAB7_Main_TabLeftImg { height: 24px; width: 17px; }
.IBTAB7_Main_TabCenterImg { height: 24px; width: 2px; }
.IBTAB7_Main_TabRightImg { height: 24px; width: 16px; }

.IBTAB7_Main2_TabLeftImg	{	height: 24px; 	width: 28px;	}
.IBTAB7_Main2_TabCenterImg	{	height: 24px; 	width: 2px;		}
.IBTAB7_Main2_TabRightImg	{	height: 24px; 	width: 6px;		}

.IBTAB7_Theme1_TabImg		{	height: 20px; 	width: 70px;	}
.IBTAB7_Theme2_TabImg		{	height: 23px; 	width: 39px;	}
.IBTAB7_Theme3_TabImg		{	height: 25px; 	width: 87px;	}
