<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- STANDARD OUTPUT -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}%p %x %t %c %l %m %n" />
		</layout>
	</appender>
	<!-- STANDARD OUTPUT -->

	<!-- FRAMEWORK OUTPUT -->
	<appender name="FILE_FRWK" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/home/cool/workspace/FRMDaily.log" />
		<param name="DatePattern" value="'.'MMddyy" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy MMM dd HH:mm:ss}%p %x %t %c %l %m %n" />
		</layout>
	</appender>	
	
	<!-- ==========================================================
	       *  EAI CATEGORY
	============================================================= -->
   	<category name="org.apache.axis" additivity="false">
       	<priority value="ERROR"/>
       	<appender-ref ref="STDOUT"/> 
   	</category>
	<!-- Setting Root -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</root>
	<!-- Setting Root -->

</log4j:configuration>
